/* font-family: 'Lobster Two', cursive;
font-family: 'Merriweather', serif;
font-family: 'Raleway', sans-serif; */
body{
    font-size: 'Raleway', sans-serif;;
}
header{
    background-color: rgba(0, 0, 0, 0.57);
    width: 100%;
    position: fixed;
    z-index: 10px;
}
a{
    color: white;
    text-decoration: none;
}
nav a{
    font-family: 'Merriweather', serif;
    font-size: 14px;
    padding: 10px 20px;
}
nav a:hover{
    font-weight: 700;
    text-decoration: underline;
}
.logo{
    width: 120px;
    padding: 0 40px;
}
.container{
    width: 1024px;
    margin: 0 auto;
}
nav{
    width: 73%;
    margin: 0 auto;
    padding: 9px 0;
    display: flex;
    align-items: center;
}
/* home */
main{
    background-image: url(images/home.png);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 690px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 51.6% 94%, 50% 100%, 48.4% 94%, 0 94%);
    z-index: -2;
}
.main-text{
    color: white;
    text-align: center;
    padding: auto 0;
    padding-top: 320px ;
}
.main-text h1{
    font-family: 'Lobster Two', cursive;
    font-size: 53px;
}
.main-text p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 35px;
    padding: 20px 200px;
}
/* menu */
.menu{
    min-height: 500px;
    width: 100%;
}
.menu h1{
    font-family: 'Merriweather', serif;
    color: #d30215;
    text-align: center;
    font-size: 35px;
    margin-top: 34px;
}
.shape1{
    display: block;
    margin: 15px auto;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.card{
    width: 100%;
}
.img1{
    background-image: url(images/pasta-329522_1280.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 270px;
    border-radius: 60px 0 60px 0;
    position: relative;
    margin-bottom: 10px;
    z-index: -5;
}
.border1{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    border: solid 1px white;
    border-radius: 55px 0 55px 0;
}
.img2{
    background-image: url(images/spaghetti-239563_1280.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 270px;
    border-radius: 60px 60px 60px 60px;
    position: relative;
    margin-bottom: 10px;
    z-index: -5;
}
.border2{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    border: solid 1px white;
    border-radius: 55px 55px 55px 55px;
}
.img3{
    background-image: url(images/spaghetti-bolognese-267289_1280.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 270px;
    border-radius: 0 60px 0 60px;
    position: relative;
    margin-bottom: 10px;
    z-index: -5;
}
.border3{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    border: solid 1px white;
    border-radius: 0 55px 0 55px;
}
.card h2{
    font-family: 'Raleway', sans-serif;
    color: #1c1b1b;
    font-size: 26px;
    text-align: center;
    padding: 25px 0;
    display: block;
    border-bottom: 1px solid #1c1b1b;

}
.price{
    font-family: 'Merriweather',sans-serif;
    color: #d30215;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
}

.price p:nth-child(1){
    padding-top: 8px;
}
.price p:nth-child(2){
    font-size: 30px;
}
.cards a{
    width: 30%;
}  
.cards a:hover .hover{
    background-color: #d3021350;
    border: none;
}
.cards a:hover h2{
    font-weight: 700;
    color: #d30215;
}
